[Unit]
Description=Prometheus exporter for Energomera
Documentation=https://github.com/peak-load/energomera_exporter

[Service]
Restart=always
User=root
EnvironmentFile=/etc/default/energomera-exporter
ExecStart=/usr/bin/energomera-exporter $ARGS
RestartSec=10s

[Install]
WantedBy=multi-user.target
